[submodule "src/libs/CommonLibs"]
	path = src/libs/CommonLibs
	url = git@github.com:Svengali/CommonLibs.git
[submodule "src/libs/MathLibs"]
	path = src/libs/MathLibs
	url = git@github.com:Svengali/MathLibs.git
[submodule "src/libs/SFML.Net"]
	path = src/libs/SFML.Net
	url = git@github.com:Svengali/SFML.Net.git
[submodule "src/libs/Ceras"]
	path = src/libs/Ceras
	url = git@github.com:Svengali/Ceras.git
[submodule "src/libs/capnproto-dotnetcore"]
	path = src/libs/capnproto-dotnetcore
	url = git@github.com:Svengali/capnproto-dotnetcore.git
[submodule "src/libs/Terminal.Gui"]
	path = src/libs/Terminal.Gui
	url = git@github.com:Svengali/Terminal.Gui.git
[submodule "src/libs/IronScheme"]
	path = src/libs/IronScheme
	url = git@github.com:Svengali/IronScheme.git
[submodule "src/libs/xenko"]
	path = src/libs/xenko
	url = git@github.com:Svengali/xenko.git
[submodule "src/libs/SharpGames"]
	path = src/libs/SharpGames
	url = git@github.com:Svengali/SharpGames.git
[submodule "src/apps/DerelictLib"]
	path = src/apps/DerelictLib
	url = git@github.com:Svengali/DerelictLib.git
[submodule "src/apps/DerelictServer"]
	path = src/apps/DerelictServer
	url = git@github.com:Svengali/DerelictServer.git
[submodule "src/libs/immudb4dotnet"]
	path = src/libs/immudb4dotnet
	url = git@github.com:Svengali/immudb4dotnet.git
[submodule "src/libs/FluentResults"]
	path = src/libs/FluentResults
	url = git@github.com:Svengali/FluentResults.git
