[submodule "src/libs/CommonLibs"]
	path = src/libs/CommonLibs
	url = git@github.com:Svengali/CommonLibs.git
[submodule "src/libs/MathLibs"]
	path = src/libs/MathLibs
	url = git@github.com:Svengali/MathLibs.git
[submodule "src/libs/SFML.Net"]
	path = src/libs/SFML.Net
	url = git@github.com:Svengali/SFML.Net.git
[submodule "src/libs/Ceras"]
	path = src/libs/Ceras
	url = git@github.com:Svengali/Ceras.git
